<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head(title)" lang="en">
        <meta charset="UTF-8" />
        <title th:text="${title}">fragments</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    </head>
    <body>

        <footer class="container" th:fragment="links">
            <ul>
                <li><a th:href="@{/form}">Form</a></li>
                <li><a th:href="@{/logout}">Logout</a></li>
                <li><a th:href="@{/login}">Login</a></li>
            </ul>
        </footer>
    </body>
</html>